
<%# configure correct title based on whether this is an add/edit %>
<% if action_name == "new" || action_name == "create" %>
  <% @newedit = "Add Bead" %>
  <% provide(:newedit, "Add Bead") %>
<% else %>
  <% @newedit = "Edit Bead" %>
  <% provide(:newedit, "Edit Bead") %>
<% end %>

<% provide(:title, @newedit ) %>

<%# generate  dropdown lists %>
<%= dropdown_generate(:brand) %>
<%= dropdown_generate(:color) %>
<%= dropdown_generate(:shape) %>
<%= dropdown_generate(:size) %>

<h1><%= yield :newedit %> </h1>
  <div class="d-flex align-content-center new-bead">
    <%= form_for @bead do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :photo, class: "form-label" %>
    <%= f.file_field :photo, class: "form-control"%>

    <%= f.label :brand, class: "form-label" %>
    <input class='form-control' type="text" list="brand"
    name='bead[brand]' id = "bead_brand" value='<%=@bead.brand%>'>

    <%= f.label :color, class: "form-label"  %>
    <input class='form-control' type="text" list="color"
    name='bead[color_list]' id = "bead_color" value='<%=@bead.color_list%>'>

    <%= f.label :size, class: "form-label"  %>
    <input class='form-control' type="text" list="size"
    name='bead[size]' id = "bead_size" value='<%=@bead.size%>'>

    <%= f.label :shape, class: "form-label"  %>
    <input class='form-control' type="text" list="shape"
    name='bead[shape]' id = "bead_shape" value='<%=@bead.shape%>'>

    <%= f.label :description, class: "form-label"  %>
    <%= f.text_area :description, size:"60x8", class:"form-control" %>
    <%= f.submit @newedit, class: "button form-control" %>
    <% end %>
